<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="addquestion.css">
</head>
<body>
    <div class="addquestion">
        <div class="add"><h1>Add Question</h1></div>
        <div class="question" >
            <form action="">
                <input type="text" value="Catagory">
                <br><br>
                <input type="text" value="Difficulty">
                <br>
                <br><input type="text" value="Question">
                <br><br>
                <input type="text" value="Option1">
                <br>
                <br><input type="text" value="Option2">
                <br><br>
                <input type="text" value="Option3">
                <br>
                <br><input type="text" value="Option4">
                <br><br>
                <input type="text" value="Right Answer">
                <br>
                <br><button>Submit</button>
            </form>
        </div>
    </div>
</body>
</html>