<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="homeAdmin.css">
</head>
<body>
    <div class="home">
        <div class="navbar">
            <div class="home1" id="title">
                <div class="icon"><img src="study.png" alt=""></div>
                <div class="title"><h1>QUiZ</h1></div>
            </div>
            <div class="home1" id="hom">
                <form action="">
                    <button>Home</button>
                </form>
            </div>
            <div class="home1">
                <form action="">
                    <button>Add Question</button>
                </form>
            </div>
            <div class="home1">
                <form action="">
                    <button>Host Quiz</button>
                </form>
            </div>
            <div class="home1">
                <form action="">
                    <button>Questions</button>
                </form>
            </div>
            <div class="home1">
                <form action="">
                    <button>Contact</button>
                </form>
            </div>
            <div class="home1" id="user">
                <div class="username"><h1>Sandesh</h1></div>
                <div class="profile"> <img src="profile.webp" alt=""></div>
                
                
            </div>
        </div>
        <div class="courses">
             <div class="Knowledge"><h1>Knowledge is the power</h1>
            <h4>How much you'll have</h4></div>
             <div class="check"><form action="">
                <button>Check</button>
             </form></div>
        </div>
    </div>
</body>
</html>