<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="question.css">
</head>
<body>
   <div> 
      <div class="question">
         <form action="">
              <label for="text">Enter question number</label>
               </label>
              <input type="text">
              <br>
               <button>search</button>
           </form>

        </div>
        <div class="all">
            <h3>or</h3>
            <form action="">
                 <button>Search All</button>
            </form>
        </div>
   </div>

</body>
</html>