<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="Welcome.css">
</head>
<body>
    <div class="Note">
        <div class="img"><img src="study.png" alt=""></div>
       <div class="statement"> <h2>"Knowledge is the eye of desire and can become ,<br> the pilot of the soul."</h2></div>
       <br>
       <div class="getstarted"> 
          <form action="homepage">
             <button>Get started --></button>
         </form>
       </div>
    </div>
   
</body>
</html>